[% start_year=2021 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/HTML-Make-Page-[% info.version %]/examples/[% pl %]> in the distribution.)
[% END %]
[% MACRO since(version) BLOCK -%]
This method was added in version [% version %] of the module.
[%- END %]
=encoding UTF-8

=head1 NAME

[% info.colon %] - Automate making HTML <head> and <body>

=head1 SYNOPSIS

[% example("synopsis") %]

=head1 VERSION

This documents version [% info.version %] of [% info.name %]
corresponding to L<git commit [% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %].

=head1 DESCRIPTION

This module simplifies generating the <head> and <body> elements of an
HTML page using L<HTML::Make>.

=head2 Restrictions

The output is restricted to the following variants of HTML:

=over

=item HTML 5 only

The output has a doctype of C<< <!DOCTYPE html> >>.

=item Lower-case tags only

No <HTML> etc., the tags generated are lower-case only.

=item UTF-8 encoding only

The output has C<< <meta charset='UTF-8'> >> added automatically.

=item Viewport is added automatically

The viewport meta element, necessary for viewing web pages on mobile
phones, is automatically added to the output.

=item XHTML tags are not supported

XHTML tags of the form C<< <br/> >> are not necessary in HTML 5 and
are not supported.

=back

=head1 FUNCTIONS

=head2 make_page

    my ($html, $body) = make_page (title => 'My Cool Page');

The argument to the function is a hash of options of the form
C<make_page (%options)>. The options are as follows.

=head3 Options

=over

[% INCLUDE "options.pod" %]

=back

=head2 Examples

=head3 Inline JavaScript in the header

This puts JavaScript inline into the header and then calls the
JavaScript using C<onload> on the C<< <body> >> HTML element.

[% example("js-text") %]

=head1 DEPENDENCIES

=over

=item HTML::Make

This module is based on L<HTML::Make>.

=back

[% INCLUDE "author" %]
